.bookmark--app--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
  .bookmark-item {
    width: 400px;
    background-color: #efefef;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
