.rate--calculator--app {
  .rate-list {
    list-style-type: none !important;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    li {
      margin-bottom: 5px;
      display: flex;
      justify-content: start;
      align-items: center;
    }
  }
  input#money {
    margin-top: 15px;
  }
  .rates-container {
    margin-top: 20px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    li {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      strong {
        margin-right: 5px;
      }
    }
  }
}
