<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>

<div class="container" id="app">
    <input v-model="todoValue" type="text" placeholder="Yapılacaklar listesi.."/>
    <button @click="addTodo">Ekle</button>
    <ul>
        <li v-for="todo in todoList">
            {{ todo }}
        </li>
    </ul>
    <span> Total : {{ todoList.length }}</span>
</div>

<script src="./app.js"></script>
</body>
</html>
