$default-color: rgb(218, 208, 208);
$primary-color: rgb(49, 107, 194);
$info-color: rgb(5, 160, 244);
$warning-color: rgb(245, 226, 12);
$success-color: rgb(109, 196, 84);
$danger-color: rgb(198, 75, 75);
$muted-color: #ccc;
$dark-color: #333;
$light-color: #fffafa;
