header {
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #324354;
  color: #fff;
  font-size: 20px;
  border-bottom: 2px solid #222b34;
}
.container {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
}

ul.list {
  margin-top: 10px;
  list-style-type: none;
  li {
    // li.list-item {
    padding: 5px 10px;
    background-color: #efefef;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
