* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.bg-success {
  background-color: $success-color !important;
  color: #fff;
}
.bg-danger {
  background-color: $danger-color !important;
  color: #fff;
}
.bg-primary {
  background-color: $primary-color !important;
  color: #fff;
}
.bg-dark {
  background-color: $dark-color !important;
  color: #fff;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-info {
  color: $info-color;
}
.text-success {
  color: $success-color;
}
.text-danger {
  color: $danger-color;
}
.text-primary {
  color: $primary-color;
}
.text-dark {
  color: $dark-color;
}
.text-muted {
  color: $muted-color;
}
.font-weight-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pt-5 {
  padding-top: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pl-5 {
  padding-left: 5px;
}
.pr-5 {
  padding-right: 5px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.d-flex {
  display: flex;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.w-10 {
  width: 10% !important;
  max-width: 10% !important;
  min-width: 10% !important;
}
.w-20 {
  width: 20% !important;
  max-width: 20% !important;
  min-width: 20% !important;
}
.w-30 {
  width: 30% !important;
  max-width: 30% !important;
  min-width: 30% !important;
}
.w-40 {
  width: 40% !important;
  max-width: 40% !important;
  min-width: 40% !important;
}
.w-50 {
  width: 50% !important;
  max-width: 50% !important;
  min-width: 50% !important;
}
.w-60 {
  width: 60% !important;
  max-width: 60% !important;
  min-width: 60% !important;
}
.w-70 {
  width: 70% !important;
  max-width: 70% !important;
  min-width: 70% !important;
}
.w-80 {
  width: 80% !important;
  max-width: 80% !important;
  min-width: 80% !important;
}
.w-90 {
  width: 90% !important;
  max-width: 90% !important;
  min-width: 90% !important;
}
.w-100 {
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
}
